@model IEnumerable<Product>


@* später mit ENUM ersetzen die die ID zurückgeben *@
@*<button type="submit" name="tablet" value="tablet"  class="btn btn-success">Tablets</button>
    <button type="submit" name="smartphones" value="smartphones" class="btn btn-success">Smartphones</button>
    <button type="submit" name="laptop" value="laptop" class="btn btn-success">laptop</button>
    <button type="submit" name="peripheri" value="peripheri" class="btn btn-success">peripheri</button>
    <button type="submit" name="microsoft" value="microsoft" class="btn btn-success">microsoft</button>
    <button type="submit" name="samsung" value="samsung" class="btn btn-success">samsung</button>
    <button type="submit" name="lenovo" value="lenovo" class="btn btn-success">lenovo</button>
    <button type="submit" name="dell" value="dell" class="btn btn-success">dell</button>
    <button type="submit" name="apple" value="apple" class="btn btn-success">apple</button>*@
<div class="row pb-3">
    <form asp-controller="Home" asp-action="Index" method="post">
        <p>
            <input type="text" name="search" />
            <button type="submit" class="btn btn-secondary">Suchen!</button>
        </p>
        @foreach (var item in Model)
        {
            <button type="submit" asp-route-categoryid="@item.CategoryId" class="btn btn-success">@item.Category.Name</button>
            <button type="submit" asp-route-manufacturid="@item.ManufacturerId" class="btn btn-warning">@item.Manufacturer.Name</button>
        }
    </form>
    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow  border-top border-5 rounded">
                        @if (product.ImagePath != null && product.ImagePath.Count() > 0)
                        {
                            <img src="@product.ImagePath" class="card-img-top  rounded" width="500" height="400" />
                        }
                        else
                        {
                            <img src="https://placehold.co/500x600/png" class="card-img-top rounded" />
                        }

                        <div class="card-body pb-0">
                            <div class="pl-1" style="height:100px">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@product.Name</p>
                                <p class="card-title text-warning text-center">by <b>@product.Manufacturer.Name</b></p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center mb-0">
                                    Preis:
                                    <span class="text-danger">
                                        @product.UnitPriceNetto.ToString("C", CultureInfo.CreateSpecificCulture("de-DE"))
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div>
                            <a asp-action="Details"
                               asp-controller="Home"
                               asp-route-productId="@product.Id"
                               class="btn btn-primary bg-gradient border-0 form-control">
                                Details
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>