@model CardVM
<form method="post">
    <br />
    <div class="container">
        <div class="card shadow border-0">

            <div class="card-header bg-secondary bg-gradient text-light ml-0 py-4">
                <div class="row px-4">
                    <div class="col-6">
                        <h5 class="pt-2 text-white">
                            Bestellzusammenfassung
                        </h5>
                    </div>
                    <div class="col-6 text-end">
                        <a asp-action="Index" class=" btn-outline-danger btn-sm">zum Warenkorb</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-info">Bestelldetails:</span>
                                </h4>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Vorname</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="Order.RecipientFirstname" class="form-control" />
                                    <span asp-validation-for="Order.RecipientFirstname" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Nachname</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="Order.RecipientLastname" class="form-control" />
                                    <span asp-validation-for="Order.RecipientLastname" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Rechnungsaddresse</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="Order.RecipientStreet" class="form-control" />
                                    <span asp-validation-for="Order.RecipientStreet" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Lieferaddresse</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="Order.AlternativeLieferaddresse" class="form-control" /><span class="text-muted">(Optional)</span>
                                    <span asp-validation-for="Order.AlternativeLieferaddresse" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Stadt</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="Order.RecipientCity" class="form-control" />
                                    <span asp-validation-for="Order.RecipientCity" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Postleitzahl</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="Order.RecipientZipCode" class="form-control" />
                                    <span asp-validation-for="Order.RecipientZipCode" class="text-danger"></span>
                                </div>
                            </div>
                            @*<div class="row my-1">
                                    <div class="col-3">
                                        <label>Postal Code</label>
                                    </div>
                                    <div class="col-9">
                                        <input class="form-control" />
                                    </div>
                                </div>*@
                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-info">Bestellübersicht:</span>
                            </h4>
                            <ul class="list-group mb-3">
                                @foreach (var item in Model.CardList)
                                {
                                    <li class="list-group-item d-flex justify-content-between">
                                        <div>
                                            <h6 class="my-0">@item.Product.Name</h6>
                                            <small class="text-muted">Anzahl: @item.Amount</small>
                                            <p><small class="text-muted">Produktnummer: @item.Product.ProductNummer</small></p>
                                        </div>
                                        <span class="text-muted">@((item.Product.UnitPriceNetto*item.Amount).ToString("C", CultureInfo.CreateSpecificCulture("de-DE")))</span>
                                    </li>
                                }


                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <small class="text-info">Netto</small>
                                    <strong class="text-info">@TempData["Netto"]€</strong>
                                </li>
                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <small class="text-info">Steuer</small>
                                    <strong class="text-info">@TempData["Steuer"]€</strong>
                                </li>
                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <small class="text-info">Gesamt</small>
                                    <strong class="text-info">@Model.Order.BruttoPreis.ToString("C", CultureInfo.CreateSpecificCulture("de-DE"))</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-12 col-md-8 pt-2">
                        <p style="color:maroon; font-size:14px;">
                            Vorraussichtliches Lieferdatum:
                            @DateTime.Now.AddDays(7).ToLongDateString() -  @DateTime.Now.AddDays(14).ToLongDateString()
                        </p>
                    </div>
                    <div class="col-12 col-md-4">
                        <button type="submit" value="Place Order" class="btn btn-primary form-control">Kostenpflichtig bestellen</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>